[Desktop Entry]
Name=picmi
Name[cs]=picmi
Name[de]=picmi
Name[es]=picmi
Name[ga]=picmi
Name[nds]=Picmi
Name[nl]=picmi
Name[pl]=picmi
Name[pt]=picmi
Name[pt_BR]=picmi
Name[sk]=picmi
Name[sv]=picmi
Name[uk]=picmi
Name[x-test]=xxpicmixx
GenericName=Logic Game
GenericName[de]=Logikspiel
GenericName[es]=Juego de lógica
GenericName[nds]=Logikspeel
GenericName[nl]=Logisch spel
GenericName[pl]=Gra logiczna
GenericName[pt]=Jogo de Lógica
GenericName[pt_BR]=jogo de lógica
GenericName[sk]=Logická hra
GenericName[sv]=Logikspel
GenericName[uk]=Гра на логіку
GenericName[x-test]=xxLogic Gamexx
Comment=A number logic game
Comment[de]=Ein Logikspiel mit Zahlen
Comment[es]=Juego de lógica con números
Comment[nl]=Een logisch spel met nummers
Comment[pl]=Liczbowa gra logiczna
Comment[pt]=Um jogo lógico com números
Comment[pt_BR]=Um jogo de lógica com números
Comment[sk]=Číselná logická hra
Comment[sv]=Ett logikspel med siffror
Comment[uk]=Гра з числами на логіку
Comment[x-test]=xxA number logic gamexx
Exec=picmi
Icon=picmi
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;LogicGame;
