[Desktop Entry]
Name=picmi
GenericName=Logic Game
Comment=A number logic game
Exec=picmi
Icon=picmi
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;LogicGame;
