[Desktop Entry]
Name=picmi
GenericName=Logic Game
Comment=A number logic game
Exec=/usr/bin/picmi
Icon=/usr/share/picmi/gfx/icon.png
Terminal=false
Type=Application
Categories=Game;LogicGame;

