[KGameTheme]
VersionFormat=1
Name=Picmi
Name[es]=Picmi
Name[ga]=Picmi
Name[nds]=Picmi
Name[nl]=Picmi
Name[pt]=Picmi
Name[pt_BR]=Picmi
Name[sv]=Picmi
Name[uk]=Picmi
Name[x-test]=xxPicmixx
FileName=picmi.svg
Author=Jakob Gruber
AuthorEmail=jakob.gruber@gmail.com
Preview=picmi.png
